<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>
<div align="center">
    <h1>Edit Form</h1>
    <br>
    <form th:action="@{/edit?id={id}(id=${user.getId})}" th:object="${user}" method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastName" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" name="age" th:field="*{age}"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/home">Home Page</a>
</div>
</body>
</html>